{% if page.page_top %}
  {{ page.page_top }}
{% endif %}

{% if page.navigation %}
  {{ page.navigation }}
{% endif %}

{% if is_front and slideshow_display %}
<!-- #banner -->
<div id="banner">

   {% if page.banner %}
      {{ page.banner }}
 {% endif %}
	
      <!-- #slideshow -->
    <div id="slideshow">
    
        <!--slider-item-->
        <div class="slider-item">
           <div class="content container_12">
            	<div class="grid_12">
              
                <!--slider-item content-->
            <div style="float:left; padding:0 30px 0 0;">
                <img class="masked" src="{{ theme_path }}/mockup/slide-1.jpg"/>
              </div>
                <h2>Sample product name</h2>
               <strong>General</strong><br/>
                <em>Client name</em><br/>
                <br/>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                <div style="display:block; padding:30px 0 10px 0;"><a class="more" href="#">Tell me more</a></div>
                <!--EOF:slider-item content-->
                
                </div>
            </div>
        </div>
        <!--EOF:slider-item-->
        
        <!--slider-item-->
        <div class="slider-item">
            <div class="content container_12">
            	<div class="grid_12">
                
                <!--slider-item content-->
                <div style="float:right; padding:0 0 0 30px;">
                <img class="masked" src="{{ theme_path }}/mockup/slide-2.jpg"/>
                </div>
                <h2>Sample service name</h2>
                <strong>General</strong><br/>
                <em>Client name</em><br/>
                <br/>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                <div style="display:block; padding:30px 0 10px 0;"><a class="more" href="#">Tell me more</a></div>
                <!--EOF:slider-item content-->
                
				</div>
            </div>
        </div>
        <!--EOF:slider-item-->
        
        <!--slider-item-->
        <div class="slider-item">
            <div class="content container_12">
            	<div class="grid_12">
                
                <!--slider-item content-->
                <h2>Sample product name</h2>
                <strong>General</strong><br/>
                <em>Client name</em><br/>
                <br/>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                <div style="display:block; padding:30px 0 10px 0;"><a class="more" href="#">Tell me more</a></div>
                <!--EOF:slider-item content-->
                
				</div>
            </div>
        </div>
        <!--EOF:slider-item-->
        
        <!--slider-item-->
        <div class="slider-item">
            <div class="content container_12">
            	<div class="grid_12">
                
                <!--slider-item content-->
                <img class="masked" src="{{ theme_path }}/mockup/slide-3.jpg"/>
                <!--EOF:slider-item content-->
				</div>
            </div>
        </div>
        <!--EOF:slider-item-->
    
    </div>
    <!-- EOF: #slideshow -->
    
    <!-- #slider-controls-wrapper -->
    <div id="slider-controls-wrapper">
        <div id="slider-controls" class="container_12">
            <ul id="slider-navigation">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
    </div>
    <!-- EOF: #slider-controls-wrapper -->
    
</div><!-- EOF: #banner -->
{% endif %}

<!-- #content -->
<div id="content">
	<!-- #content-inside -->
    <div id="content-inside" class="container_12 clearfix">
    
      {% if page.sidebar_first %}
        <div id="sidebar-first" class="grid_4">
          {{ page.sidebar_first }}
        </div><!-- EOF: #sidebar-first -->
      {% endif %}

      {% if page.sidebar_first and page.sidebar_second %}
        <div class="grid_4">
      {% elseif page.sidebar_first or page.sidebar_second %}
        <div id="main" class="grid_8">
      {% else %}
        <div id="main" class="grid_12">    
      {% endif %}

          {% if page.breadcrumb %}
            {{ page.breadcrumb }}
          {% endif%}

          {% if page.highlighted %}
            {{ page.highlighted }}
          {% endif %}

          {% if page.content %}
            {{ page.content }}
          {% endif %}

        </div>

        {% if page.sidebar_second %}
          <div id="sidebar-second" class="grid_4">
            {{ page.sidebar_second }}
          </div><!-- EOF: #sidebar-second -->
        {% endif %}

    </div><!-- EOF: #content-inside -->

</div><!-- EOF: #content -->
<!-- #footer -->  
<div id="footer">
  <!-- #footer-inside -->
  <div id="footer-inside" class="container_12 clearfix">

    <div class="footer-area grid_4">
      {% if page.footer_first %}
        {{ page.footer_first }}
      {% endif %}
    </div>
    <div class="footer-area grid_4">
      {% if page.footer_second %}
        {{ page.footer_second }}
      {% endif %}
    </div>

    <div class="footer-area grid_4">
      {% if page.footer_third %}
        {{ page.footer_third }}
      {% endif %}
    </div>

  </div>
  <!-- EOF: #footer-inside -->
</div>
<!-- EOF: #footer -->

<!-- #footer-bottom -->    
<div id="footer-bottom">

  <!-- #footer-bottom-inside --> 
  <div id="footer-bottom-inside" class="container_12 clearfix">
    <!-- #footer-bottom-left --> 
    <div id="footer-bottom-left" class="grid_8">
      {% if page.footer %}
        {{ page.footer }}
      {% endif %}
    </div>

    <!-- #footer-bottom-right -->
    <div id="footer-bottom-right" class="grid_4">
      {% if page.footer_bottom_right %}
        {{ page.footer_bottom_right }}
      {% endif %}
    </div>
    <!-- EOF: #footer-bottom-right -->

  </div>
 <!-- EOF: #footer-bottom-inside -->
  {% if credits_display %}
    <div id="credits" class="container_12 clearfix">
        <div class="grid_12">
        <p>Ported to Drupal by <a href="http://www.drupalizing.com">Drupalizing</a>, a Project of <a href="http://www.morethanthemes.com">More than (just) Themes</a>.</p>
        </div>
    </div>
  {% endif %}

</div>
<!-- EOF: #footer-bottom -->

{% if page.help %}
  {{ page.help }}
{% endif %}

{% if page.page_bottom %}
  {{ page.page_bottom }}
{% endif %}